{% extends '@layout/default.html.twig' %}

{% block title %}{{ status }} {{ reason }}{% endblock %}

{% block content %}
    <h1>Oops!</h1>
    <h2>This is awkward.</h2>
    <p>We encountered a {{ status }} {{ reason }} error.</p>
    {% if status == 404 %}
        <p>
            You are looking for something that doesn't exist or may have moved. Check out one of the links on this page
            or head back to <a href="{{ path('home') }}">Home</a>.
        </p>
    {% elseif status == 403 %}
        <p>
            You don't have enough permissions to view this page. You can <a href="{{ path('logout') }}">Sign out</a>
            and try with a more permissive user. <br />
            Another reason could be the requested page is not accessible if you are authenticated.
        </p>
    {% endif %}
{% endblock %}
